{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center my-5">
    <div class="col-md-5">
        <div class="mt-4 p-5 bg-success text-white rounded mb-3">
            <h1>Weather Application</h1>
        </div>
        <form action="." method="POST">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" class="form-control" name="city" placeholder="Search for city" required>
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit">
                        Search
                    </button>
                </div>
            </div>
        </form>
        <div class="card">
            <div class="card-body">
                <img src="http://openweathermap.org/img/w/{{ city_weather_update}}.png" alt="">
                <div class="card-text float-end">{{ city_weather_update.time}}</div>
                <div class="card-text">{{ city_weather_update.city}}</div>
                <div class="card-text">{{ city_weather_update.temperature}}</div>
                <div class="card-text">{{ city_weather_update.description}}</div>
                <div class="card-text">{{ city_weather_update.wind}}</div>
                <div class="card-text">{{ city_weather_update.humidity}}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}